/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body {
    background-color: #e5e9e9;
    font-size: 1.375rem;
    line-height: 28px;
    letter-spacing: 4px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
}

/*--------------------------------------------------------------
# NAVIGATION BAR
--------------------------------------------------------------*/

.navbar-custom {
    background-color: #0D1521;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #F8F9F9;
}

.navbar-custom .navbar-brand {
    padding: 0;
}

.nav-link {
    color: #dceaff !important;
    font-size: 1.15rem;
    margin-right: 2rem;
    margin-left: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav-link:hover {
    color: #fff !important;
}


.navbar-nav .nav-item:not(:last-child) {
    border-right: 1px solid rgb(46 57 67);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-nav .nav-item .socials:not(:last-child) {
    border-right: 1px solid rgb(46 57 67);
}

.sm-icons {
    flex-direction: row;
}

/* END NAVBAR */


/* LOGO NAVBAR  */

.logo {
    width: 35px;
}

.logo-fill {
    fill: #dceaff;
}

/*--------------------------------------------------------------
# END NAVIGATION BAR
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# CAROUSEL
--------------------------------------------------------------*/


.carousel-item {
    position: relative;
}

.carousel-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(13, 21, 33, 0.5), rgba(13, 21, 33, 1));
}

.cover {
    font-size: 8rem;
    color: #dceaff;
    letter-spacing: 1.5rem;
    padding-left: 1.5rem;
    line-height: 8rem;
}

.carousel-caption {
    color: #dddddd;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.lead {
    color: #dddddd;
}

.carousel-caption {
    bottom: initial;
}

.item {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@media screen and (max-width: 600px) {
    .cover {
        font-size: 1rem;
        line-height: normal;
    }

    .lead {
        font-size: 0.875rem;
        line-height: normal;
    }
}

@media screen and (min-width: 601px) and (max-width: 769px) {
    .cover {
        font-size: 1.125rem;
        line-height: normal;
    }

    .lead {
        font-size: 1rem;
        line-height: normal;
    }
}

@media screen and (min-width: 769px) and (max-width: 1240px) {
    .cover {
        font-size: 1.25rem;
        line-height: normal;
    }

    .lead {
        font-size: 1.125rem;
        line-height: normal;
    }
}

/*--------------------------------------------------------------
# END CAROUSEL
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# COUNTS SECTION
--------------------------------------------------------------*/
.counts {
    background: url("https://external-preview.redd.it/pe00dmrZBe-DCa1zpv8aZVmrqO6qMjxBqV2cM_CwN38.png?auto=webp&s=05899e51860b1494415e1c95428f1f584d83d954") center center no-repeat;
    background-size: cover;
    padding: 80px 0 60px 0;
    position: relative;
}


.counts .title {
    position: relative;
    color: whitesmoke;
    margin-bottom: 40px;
}

.counts .title h3 {
    font-size: 2.25rem;
    font-weight: 700;
    color: whitesmoke;
}

.counts_number {
    font-size: 3rem;
    display: block;
    color: #01b1d7;
    -webkit-animation: glow 4s ease-in-out infinite alternate;
    -moz-animation: glow 4s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        color: #fff;
        text-shadow: 0 0 10px #01b1d7, 0 0 20px #01b1d7, 0 0 30px #01b1d7,
        0 0 40px #01b1d7, 0 0 50px #01b1d7, 0 0 60px #01b1d7, 0 0 70px #01b1d7,
        0 0 90px #01b1d7;
    }

    to {
        color: #808080FF;
        text-shadow: 0 0 20px #040957, 0 0 30px #040957, 0 0 40px #040957,
        0 0 50px #040957, 0 0 60px #040957, 0 0 70px #040957, 0 0 80px #040957,
        0 0 90px #040957;
    }
}


.counts p {
    padding: 5px;
    margin: 0 0 20px 0;
    font-size: 0.875rem;
    color: whitesmoke;
}

/*--------------------------------------------------------------
# END COUNTS SECTION
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# TEAM SECTION
--------------------------------------------------------------*/
.team {
    background: #0D1521;
    color: #c2cdcf;
}

.team h2 {
    padding: 25px 0;
}

.team .member {
    position: relative;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.team .member .pic {
    overflow: hidden;
    width: 85px;
    border-radius: 50%;

}

.team .member .pic img {
    transition: ease-in-out 0.3s;
}

.team .member:hover img {
    transform: scale(1.1);
}

.team .member .member-info {
    padding-left: 30px;
}

.team .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 1.25rem;
    color: #354144;
    padding-top: 20px;
}

.team .member span {
    display: block;
    font-size: 0.9375rem;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}

.team .member span::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #b4c1c4;
    bottom: 0;
    left: 0;
}

.team .member p {
    margin: 10px 0 0 0;
    font-size: 0.875rem;
}

.team .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.team .member .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #c2cdcf;
}

.team .member .social a i {
    color: #fff;
    font-size: 1rem;
    margin: 0 2px;
}


.team .member .social a:hover {
    background: #01b1d7;
}

.team .member .social a + a {
    margin-left: 8px;
}

/*--------------------------------------------------------------
# END TEAM SECTION
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# TESTIMONIALS SECTION
--------------------------------------------------------------*/
.testimonials {
    padding: 50px 0;
    background: url("https://www.esa.int/var/esa/storage/images/esa_multimedia/images/2018/09/nine_years_of_esa_s_class_of_2009_astronauts/17678280-1-eng-GB/Nine_years_of_ESA_s_class_of_2009_astronauts_pillars.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.testimonials_people {
    color: #dddddd;
}

.testimonials::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(8, 10, 11, 0.7);
}

.testimonials .section-header {
    margin-bottom: 40px;
}

.testimonials .testimonial-item {
    text-align: center;
    color: #dddddd;
}

.testimonials .testimonial-item .testimonial-img {
    width: 100px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
}

.testimonials .testimonial-item h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #dddddd;
}

.testimonials .testimonial-item h4 {
    font-size: 0.875rem;
    color: #ddd;
    margin: 0 0 15px 0;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
    color: rgba(255, 255, 255, 0.4);
    font-size: 1.625rem;
}

.testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}

.testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
    color: #eee;
}

.testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #01b1d7;
}

@media (min-width: 1024px) {
    .testimonials {
        background-attachment: fixed;
    }
}

@media (min-width: 992px) {
    .testimonials .testimonial-item p {
        width: 80%;
    }
}

/*--------------------------------------------------------------
# END TESTIMONIAL SECTION
--------------------------------------------------------------*/







