body {
    background-image: url("https://images.hdqwalls.com/download/1/nebula-stars-planet-galaxy-15k-5g-7680x4320.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    min-height: 100vh;
}
div{
    font-family: 'Rajdhani', sans-serif;
    color: #dceaff;
}
h1{
    letter-spacing: 5px;
    color: #dceaff;
    font-variant: small-caps;
    font-size: 40px;
}
.card{
    background-color: #111111;
}
.card-header{
    background-color: #111111;
}
.card-body{
    background-color: #111111;
}
.btn{
    letter-spacing: 2px;
    font-variant: small-caps;
}
h4{
    letter-spacing: 2px;
    font-variant: small-caps;
}
li {
    letter-spacing: 1px;
}
h2 {
    letter-spacing: 5px;
    color: #dceaff;
    font-variant: small-caps;
    font-size: 40px;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.returnlink{
    color: white;
}

/* BEGIN NAVBAR */

.navbar-custom {
    background-color: #0D1521;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #F8F9F9;
}

.navbar-custom .navbar-brand {
    padding: 0;
}

.nav-link {
    color: #dceaff !important;
    font-size: 1.15rem;
    margin-right: 2rem;
    margin-left: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav-link:hover {
    color: #fff !important;
}


.navbar-nav .nav-item:not(:last-child) {
    border-right: 1px solid rgb(46 57 67);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-nav .nav-item .socials:not(:last-child) {
    border-right: 0x solid rgb(46 57 67);
}

.sm-icons {
    flex-direction: row;
}

.logo {
    width: 35px;
}

.logo-fill {
    fill: #dceaff;
}

/* END NAVBAR */