@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&display=swap');

body,
html {
  color: #F8F9F9;
  text-align: center;
  margin: 0;
  height: 100%;
  overflow-y: hidden;
  font-family: 'Rajdhani', sans-serif;
  color: #F8F9F9;
  font-weight: 400;
  font-size: 16px;
}


/* BEGIN PARALLAX */

.parallax-wrapper {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.background {
  background-position: center;
  background-size: cover;
  display: flex;
  flex: 1 0 auto;
  position: relative;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  transform: translateZ(-1px) scale(2);
}

.background--one {
  background-image: url('../img/background-1.jpeg');
}

.background--two {
  background-image:
    linear-gradient(to bottom, rgba(13, 21, 33, 0.5), rgba(13, 21, 33, 1)),
    url('../img/background-2.jpg');

}

.background--three {
  background-image:
    linear-gradient(to bottom, rgba(13, 21, 33, 0.5), rgba(13, 21, 33, 1)),
    url('../img/background-3.jpg');

}

.background--contact {
  background-image:
    linear-gradient(to bottom, rgba(13, 21, 33, 0.5), rgba(13, 21, 33, 1)),
    url('../img/background-4.jpg');
}

.title {
  position: absolute;
  margin: 0;
  top: calc(50% - 50px);
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  height: 100px;
  color: white;
  font-size: 5rem;
}

.season-desc {
  z-index: 1;
  position: relative;
  background: #111111;
  color: #dceaff;
  font-size: 1.1rem;
  letter-spacing: 2px;
  line-height: 2em;
  padding: 3rem;
  height: 100vh;
  margin: 0;
  display: flex;
}

.desc-wrapper {
  margin: auto;
  box-sizing: border-box;
}

.season--title {
  text-align: center;
  font-size: 4rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 20px 0;
}

.season--about {
  margin-top: 30px;
  padding: 0;
  max-width: 80rem;
}

.cover {
  font-size: 5rem;
  color: #dceaff;
  letter-spacing: 1.5rem;
  padding-left: 1.5rem;
  line-height: 5rem;
}

.lead {
  font-size: 1.50rem;
  color: #dceaff;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}


/* END PARALLAX PARALLAX */

/* CTA BUTTON */

.btn-cta {
  margin-top: 30px;
  background-color: #dceaff;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.btn-cta:hover {
  color: #111111;
  background-color: #fff;
  transition: 1s;
}

/* END CTA BUTTON */


/* BEGIN NAVBAR */

.navbar-custom {
  background-color: #0D1521;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #F8F9F9;
}

.navbar-custom .navbar-brand {
  padding: 0;
}

.nav-link {
  color: #dceaff !important;
  font-size: 1.15rem;
  margin-right: 2rem;
  margin-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav-link:hover {
  color: #fff !important;
}


.navbar-nav .nav-item:not(:last-child) {
  border-right: 1px solid rgb(46 57 67);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.navbar-nav .nav-item .socials:not(:last-child) {
  border-right: px solid rgb(46 57 67);
}

.sm-icons {
  flex-direction: row;
}

/* END NAVBAR */


/* LOGO NAVBAR  */

.logo {
  width: 35px;
}

.logo-fill {
  fill: #dceaff;
}

/* END NAVBAR  */

/* CONTACT FORM */

.form-wrapper {
  max-width: 600px;
  padding: 30px;
  border: 0.5px solid rgba(220, 234, 255, 0.5);
  border-radius: 10px;
}

input,
textarea {
  width: 100%;
}

input {
  background-color: #dceaff;
  color: #111111;
  border-radius: 10px;
  border: 0px;
  padding: 12px 20px;
}

textarea {
  background-color: #dceaff;
  color: #111111;
  border-radius: 10px;
  border: 0px;
  padding: 12px 20px;
}

input[type=button],
input[type=submit],
input[type=reset] {
  font-weight: 500;
  background-color: #dceaff;
  color: #111111;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset] :hover {
  font-weight: 500;
  background-color: white;
  transition: 1s;
}

textarea:focus,
input:focus {
  outline: none;
}

/* END CONTACT FORM */

/* RESPONSIVENESS */

@media (max-width: 768px) {
  .navbar-nav .nav-item:not(:last-child) {
    border-right: none;
  }

  .navbar-nav li {
    display: inline-block;
  }

}

@media (max-width: 998px) and (orientation: portrait) {
  .season-desc {
    padding: 1.5rem 20px;
    font-size: 1rem;
    height: unset;
    min-height: 100vh;
  }

  .season-title {
    font-size: 2.5rem;
    margin: 20px 0;
    letter-spacing: unset;
  }

  .season-about {
    margin-top: 20px;
  }
}